body {
    margin-top: 0;
}

.touch {
    outline: 3px solid black;
    outline-offset: -2px;   /* 表の枠にぴったり合わせる */
}

.match {
    font-weight: bold;
    color: red;
}

.fav {
    background-color: orange;
}


#header {
    margin: auto;
    padding-top: 7px;
    width: 350px;
    height: 35px;
    top: 0;
    background-color: white;
    position: sticky;
}

#reset {
    /*
    margin-left: 7px;
    margin-right: 7px;
    */
    text-align: left;
    float: left;
}

#explore {
    text-align: right;
}

.total {
    visibility:hidden;
}

#field {
    width: 130px;;
}

/*
.container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
*/

.container {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.tbl {
    border-collapse: collapse;
    margin-left: 15px;
    margin-right: 15px;
}

.nothing {
    width: 30px;
    height: 30px;
    visibility:hidden;
}

.another {
    border: dashed 1px black;   /*実線 1px 黒*/
    width: 30px;
    height: 30px;
    text-align: center;
}

.booth, .empty {
    border: solid 1px black;   /*実線 1px 黒*/
    width: 30px;
    height: 30px;
    text-align: center;
}

.aisle_h {
    height: 15px;
    visibility:hidden;
}

.output {
    height: 150px;
}

.club {
    border: dashed 2px black;
    margin: auto;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    width: 320px;
    display: none;
}

/* pタグのflexによるズレ調整 */
p {
    margin: 0;
    padding: 0;
}

.place {
    text-align: left;
    float: left;
}

.bookmark {
    text-align: right;
}

.check {
    color: black;
    /*ブックマークしたらyellowに変更*/
}

.url {
    text-align: center;
}

.link {
    text-align: center;
}

/* ポップアップ関連 */
#menu_img {
    padding-top: 5dvh;
    padding-left: 4%;
    padding-right: 4%;
    max-width: 92%;
    height: 470px;
    object-fit: contain;
}

#pages {
    text-align: center;
}

.back, .go {
    padding-left: 20px;
    padding-right: 20px;
}

.page_num {
    padding-right: 5px;
}

.page_all {
    padding-left: 5px;
}

#accounting {
    margin-top: 2dvh;
    margin-left: 4%;
    margin-right: 4%;
}

#goods_list {
    margin-left: 4%;
    margin-right: 4%;
    height: 470px;
    border: solid 1px ;
    overflow-y: auto;
    object-fit: contain;
}

.item {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

/*
.goods_name {
    padding-left: 10px;
    padding-right: 10px;
}
*/

.goods_name {
    text-align: left;
}

.buy_num {
    width: 40px;
}

.goods_price {
    text-align: right;
    margin-right: 10px;
    border-bottom: solid 1px silver;
}

.select {
    background-color: lightsteelblue;
}


.mfp-content {
    background-color: #FFF;
    max-width: 360px;
}

.close_div {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

/* オーバーレイ 初期状態 */
.mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
/* オーバーレイ 表示アニメーション */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: .8;
}
/* オーバーレイ 非表示アニメーション */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* コンテンツ 初期状態 */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
/* コンテンツ 表示アニメーション */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
/* コンテンツ 非表示アニメーション */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

.spinner {
    display: none; /* 初期は非表示 */
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin: 40px auto;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}